.contact  {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  background-color: #0A243C;
}

.contact_title  {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  line-height: 2;
  text-align: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.contact_inputs {
  width: 30em;
  margin: 0.8em;
  border-radius: 4px;
  padding: 0.2em;
}

.contact_input_box  {
  width: 30em;
  height: 20em;
  margin: 0.8em;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.contact_button {
  width: 15em;
  margin: 0.8em auto;
  cursor: pointer;
  background-color: #FFBD58;
  padding: 0.2em;
  border: 0;
  border-radius: 25px;
  font-weight: 600;
}

.contact_button:hover  {
  background-color: #f8cb86;
}

/* @media (max-width: 950px) {

  .contact_inputs {
    width: 30em;
    margin: 0.8em;
  }
  
  .contact_input_box  {
    width: 30em;
    margin: 0.8em;
  }
  
  .contact_button {
    width: 15em;
    margin: 0.8em;
  }

} */