.about  {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about_container  {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.about_info {
  line-height: 1.8;
}

.about_img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px black solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}