/* .projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}

.project_cards  {
  display: flex;
  justify-content: start;
  width: 100vw;
  text-align: center;
  overflow-x: scroll;
}

.project_card {
  padding: 5%;
  margin: 2%;
  border: 3px solid black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
} */

.project_img  {
  border: 1px solid black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 12rem;
}

.project_link_logos {
  width: 30px;
  height: 30px;
  margin: 20px;
}